*{
    font-family: Arial;
}


h2{
    font-size: 17px;
    display: inline;
}


h3{
    color: red;
    display: inline;
}

label{
    display:block;
    margin: 0 0 .5em 0;
}

table td{
    width: 20em;
}

#submit{
    margin-left: 550px;
}

td:hover{
    background-color: #FF9;
}

select{
    width: 100%;
}

input:focus{
    outline: none;
    border: 2px solid #E6B700;
    box-shadow: none;
}





