*{
    font-family: Arial;
}


h2{
    font-size: 17px;
    display: inline;
}


h3{
    color: red;
    display: inline;
}

label{
    display:block;
    margin: 0 0 .5em 0;
}

table td{
    width: 15em;
    vertical-align: top;
}
 select{
    width: 100%;
 }


#submit{
    margin-left: 550px;
}

tr:hover{
    background-color: #FF9;
}

input:focus{
    outline: none;
    border: 2px solid #E6B700;
    box-shadow: none;
}

.ayuda{
    display: none;
    position: absolute;
    transform: translate(27em, -50px);
    width: 20%;
}

tr:hover  .ayuda{
    display: block;
}

#email{
    transform: translate(27em, -20px)
}

table{
    border: 0px;
    border-collapse: collapse;
}
