*{
    margin: 0px;
}

#contenedor{
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

header{
    height: 50px;
    background-color: #d8d9d8
}

main{
    flex: 1;
    background-color: #aeadae;
}

footer{
    background-color: #fca227;
    height: 50px;
}