*{
    margin:1px;
}

nav{
    margin: .25em;
    background-color: #3aaf60;
    height: 2em;
    color: white;
    font-size: 2em;
    align-content: center;
    text-align: center;
    border-radius: 9px;
}

main{
    margin: .5em;
    padding: .5em;
    height: 20em;
    border: 2px black solid;
    border-radius: 9px;
}


#primera{
    height: 5em;
    background-color: #ed3b3e;
    color: white;
    font-size: 2em;
    align-content: center;
    text-align: center;
    margin: 0px;
    border-radius: 9px;
}


#segunda{
    margin: 0px;
    width: 50%;
    height:5em;
    float: left;
    background-color: #fe9646;
    color: white;
    font-size: 2em;
    align-content: center;
    text-align: center;
    border-radius: 9px;
}

#tercera{
    margin: 0px;
    width: 50%;
    height: 5em;
    float: right;
    background-color: #f39cad;
    color: white;
    font-size: 2em;
    align-content: center;
    text-align: center;
    border-radius: 9px;
    
}

footer{
    background-color: #018ef6;
    height: 2em;
    color: white;
    font-size: 2em;
    align-content: center;
    text-align: center;
    margin: .25em;
    border-radius: 9px;
}

