*{
    margin: .2em;
    color: white;
    text-align: center;
    align-content: center;
}

#contenedor{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px);
}

.hijo{
    background-color: #ff1590;
}

#primero{
    grid-column: 1 / span 2;
}

#segundo{
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

#tercero{
    grid-row: 2 / span 2;
}

#sexto{
    grid-column: 3 / span 2;
}