
div{
    position: absolute;
}

#capa_1 { 
    z-index: 1;
    top: 310px;
    left: 250px; 
}

#capa_2 { 
    z-index: 2;
    top: 180px;
    left: 325px; 
}

#capa_3 { 
    z-index: 3;
    top: 300px;
    left: 500px;
}

#capa_4 { 
    z-index: 4;
    top: 10px;
    left: 550px;
}

#ace_of_diamonds { 
    z-index: 5; 
    top: 400px; 
    left: 620px;
}




